.navbar {
    background-color: rgb(102, 0, 133);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    color: black;
    border-bottom: solid rgb(40, 0, 77);
}

.searchbar {
    background-color: blueviolet;
    color: black;
    border: 0;
    border-radius: 15px;
}

.addlist {
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(108, 6, 204);
}

.addlist:hover {
    background-color: blueviolet;
}